*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --cell-size: calc(77.5vw / 3);
    --max-cell-size: calc(500px / 3);
    --mark-size: min(calc(var(--cell-size) * 0.9), calc(var(--max-cell-size) * 0.9));
}

body {
    margin: 0;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.board {
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    background: rgba(128, 128, 128, 0.5);
    box-shadow: 4px 4px 0 rgba(255,255,255,0.1);
    width: calc(var(--cell-size) * 3);
    max-width: calc(var(--max-cell-size) * 3);
    margin: 2em auto;
    border-radius: 1em;
}

.cell { 
    width: var(--cell-size);
    height: var(--cell-size);
    max-width: var(--max-cell-size);
    max-height: var(--max-cell-size);
    border: 3px solid #101A26;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom: none;
}

.cell.x,
.cell.o {
    cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
    background-color: rgb(166, 163, 211);
    top: 5%;
}

.cell.x::before,
.board.x .cell:not(.x):not(.o):hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::after {
    transform: rotate(-45deg);
}

.cell.x::before {
    animation: x-before-transform .4s;
}

.cell.x::after {
    animation: x-after-transform .2s;
}

@keyframes x-before-transform {
    0%, 50% {
                right: 0;
                height: 0;
            }
    100%    {
                right: 43%;
                height: var(--mark-size);
            }
}

@keyframes x-after-transform {
    0%      {
                left: 0;
                height: 0;
            }
    100%    {
                left: 43%;
                height: var(--mark-size);
            }
}

.cell.o::before,
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.cell.o::before,
.board.o .cell:not(.x):not(.o):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
    background-color: rgb(166, 163, 211);
}

.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::after {
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background-color: #484d53;
}

.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after,
.board.o .cell:not(.x):not(.o):hover::before {
    background-color: #6d6f86;
}

.cell.o::before,
.cell.o::after {
    animation: o-transform .4s;
}

@keyframes o-transform {
    0%      { transform: scale(0); }
    100%    { transform: scale(1); }
}


.winning-msg {
    display: none;
    position: absolute;
    width: calc(var(--cell-size) * 3);
    max-width: calc(var(--max-cell-size) * 3);
    height: calc(var(--cell-size) * 3);
    max-height: calc(var(--max-cell-size) * 3);
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.9);
    color: white;
    font-size: 5rem;
    font-weight: bold;
    flex-direction: column;
    text-align: center;
    border-radius: 1rem;
}

.winning-msg.show {
    display: flex;
    animation: fadeIn linear .4s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}

#buttons-txt {
    font-size: 3rem;
}

.ttt-buttons {
    margin: 1rem auto;
    display: flex;
    gap: 1rem;
}

.winning-msg button {
    padding: .5em 2em;
    font-weight: 700;
    background: rgba(24, 40, 59, .75);
    border-radius: 100px;
    margin-bottom: .5em;
}

.combo {
    display: none;
    position: absolute;
    width: calc(var(--cell-size) * 2.75);
    max-width: calc(var(--max-cell-size) * 2.75);
    height: calc(var(--cell-size) * 2.75);
    max-height: calc(var(--max-cell-size) * 2.75);
    justify-content: center;
    align-items: center;
}

.combo.show {
    display: flex;
}

.combo::before {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .1);
    background-color: rgba(242, 53, 104, .5);
}
.combo.diag1::before,
.combo.diag2::before {
    height: calc(var(--mark-size) * 4.5);
    animation: diag-transform .4s;
}

.combo.diag1::before {
    transform: rotate(-45deg);
}

.combo.diag2::before {
    transform: rotate(45deg);
}

@keyframes diag-transform {
    0%      { height: 0; }
    100%    { height: calc(var(--mark-size) * 4.5); }
}

.combo.col1::before,
.combo.col2::before,
.combo.col3::before {
    height: calc(var(--cell-size) * 2.95);
    max-height: calc(var(--max-cell-size) * 2.95);
    animation: col-transform .4s;
}

.combo.col1::before {
    left: 12%;
}
.combo.col3::before {
    right: 12%;
}

@keyframes col-transform {
    0%      { height: 0; }
    100%    { height: min(calc(var(--cell-size) * 2.95), calc(var(--max-cell-size) * 2.95)); }
}

.combo.row1::before,
.combo.row2::before,
.combo.row3::before {
    width: calc(var(--cell-size) * 2.95);
    max-width: calc(var(--max-cell-size) * 2.95);
    height: calc(var(--mark-size) * .1);
    animation: row-transform .4s;
}

.combo.row1::before {
    top: 12%;
}
.combo.row3::before {
    bottom: 12%;
}

@keyframes row-transform {
    0%      { width: 0; }
    100%    { width: min(calc(var(--cell-size) * 2.95), calc(var(--max-cell-size) * 2.95)); }
}

.stats {
    margin: 2em auto;
    width: 80%;
    max-width: 500px;
    color: white;
    background: rgba(128, 128, 128, 0.5);
    box-shadow: 4px 4px 0 rgba(255,255,255,0.1);
    border-radius: 1rem;
    padding: 1em;
    font-weight: bold;
    text-align: center;
}

.stat-data {
    font-size: 3.5rem;
}

.stat-lbl {
    text-transform: uppercase;
    color: rgba(242, 53, 104, .75);
}

.stat-data:not(:first-child) {
    padding-top: .1em;
}

.stat-lbl:not(:last-child) {
    padding-bottom: 1em;
    border-bottom: 3px solid #101A26;
}

@media (min-width: 900px) {
    .ttt {
        display: flex;
        gap: 1rem;
        justify-content: center;
    }

    .board {
        margin: 0;
    }

    .stats {
        margin: 0;
        width: 20%;
        max-width: 255px;
        text-align: left;
    }
}