body {
    margin: 0;
    height: 100vh;
}

canvas {
    border-radius: 1em;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 4px 4px 0 rgba(255,255,255,0.1);
}

.canvas-container {
    position: relative;
}

.info {
    user-select: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    padding: .5em 1em;
    font-weight: 700;
    background: rgba(24, 40, 59, .75);
    border-radius: 1em;
    margin-bottom: .5em;
    display: flex;
    gap: 1em;
}

.close-btn { font-weight: 400 }
.close-btn:hover { opacity: .7 }