*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    background:#101A26;
}

h1, h2, p {
    margin: 0;
    padding: 0;
    color: white;
    line-height: 1.1;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.row { display: flex }

.nav {
    background-color: #18283b;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav__item {
    padding: 1em;
}

.nav__link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 1.125rem;
}

.logo {
    background-color: rgba(166, 163, 211, .4);
    padding: .5em 0;
}

.nav__title {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 2rem;
}

.nav__link:hover,
.nav__link:focus {
    opacity: .7;
}

.alg-type {
    max-width: 500px;
    width: 80%;
    margin: 1em auto;
    padding: 0;
    border-radius: 2em;
    overflow: hidden;
    text-align: center;
    background-color: #18283b;
}

.alg-type__title {
    padding: 1em 0;
    background: #F23568;
    font-size: .75rem;
}

.alg-type__info {
    padding: 1em 0;
}

.buttons {
    margin: 1em auto;
    border-radius: 100px;
    background: #18283b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.btn {
    display: block;
    border: none;
    padding: .5em 1em;
    background: none;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
}

.btn:hover { background-color: rgba(242, 53, 104, .75) }

.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

@media (min-width: 650px) {
    .nav {
        display: flex;
        align-items: center;
    }

    .logo {
        padding-left: 10%;
        padding-right: 1em;
        margin-right: 1em;
    }
    
    .nav__list {
        display: flex;
        padding-right: 10%;
    }

    .alg-type {
        display: flex;
    }

    .alg-type__title {
        font-size: 1rem;
        border-radius: 0 0 2em 0;
        width: 60%;
    }

    .alg-type__info {
        width: 40%;
        padding-right: .5em;
    }
}