:root {
    --board-size: min(80vw, 500px);
    --cell-size: calc(var(--board-size) / 3);
    --mark-size: calc(var(--cell-size) * .9);
    --mark-width: calc(var(--mark-size) * .15);
}

.ttt-board {
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 4px 4px 0 rgba(255,255,255,0.1);
    width: var(--board-size);
    margin: 1rem auto;
    border-radius: 1em;
}

.ttt-cell { 
    width: var(--cell-size);
    height: var(--cell-size);
    border: 3px solid #101A26;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.ttt-cell:nth-child(-n + 3) {
    border-top: none;
}

.ttt-cell:nth-child(3n + 1) {
    border-left: none;
}

.ttt-cell:nth-child(3n + 3) {
    border-right: none;
}

.ttt-cell:nth-child(n + 7) {
    border-bottom: none;
}

.ttt-cell.x,
.ttt-cell.o {
    cursor: not-allowed;
}

.ttt-cell::before,
.ttt-cell::after {
    content: '';
    position: absolute;
    width: var(--mark-size);
    height: var(--mark-size);
}

.ttt-cell.x::before,
.ttt-cell.x::after,
.ttt-board.x .ttt-cell:not(.x):not(.o):hover::before,
.ttt-board.x .ttt-cell:not(.x):not(.o):hover::after {
    background-color: rgb(166, 163, 211);
    width: var(--mark-width);
    top: 5%;
}

.ttt-cell.x::before,
.ttt-board.x .ttt-cell:not(.x):not(.o):hover::before {
    transform: rotate(45deg);
}

.ttt-cell.x::after,
.ttt-board.x .ttt-cell:not(.x):not(.o):hover::after {
    transform: rotate(-45deg);
}

.ttt-cell.x::before {
    animation: x-before-transform .4s;
}

.ttt-cell.x::after {
    animation: x-after-transform .2s;
}

@keyframes x-before-transform {
    0%, 50% {
                right: 0;
                height: 0;
            }
    100%    {
                right: 43%;
                height: var(--mark-size);
            }
}

@keyframes x-after-transform {
    0%      {
                left: 0;
                height: 0;
            }
    100%    {
                left: 43%;
                height: var(--mark-size);
            }
}

.ttt-cell.o::before,
.ttt-cell.o::after,
.ttt-board.o .ttt-cell:not(.x):not(.o):hover::before,
.ttt-board.o .ttt-cell:not(.x):not(.o):hover::after {
    background-color: rgb(166, 163, 211);
    border-radius: 50%;
}

.ttt-cell.o::after,
.ttt-board.o .ttt-cell:not(.x):not(.o):hover::after {
    background-color: #70767d;
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
}

.ttt-board.x .ttt-cell:not(.x):not(.o):hover::before,
.ttt-board.x .ttt-cell:not(.x):not(.o):hover::after,
.ttt-board.o .ttt-cell:not(.x):not(.o):hover::before {
    background-color: #6d6f86;
}

.ttt-cell.o::before,
.ttt-cell.o::after {
    animation: o-transform .4s;
}

@keyframes o-transform {
    0%      { transform: scale(0); }
    100%    { transform: scale(1); }
}


.ttt-winning-msg {
    display: none;
    position: absolute;
    width: var(--board-size);
    height: var(--board-size);
    justify-content: center;
    align-items: center;
    background-color: rgba(112, 118, 125, .9);
    color: white;
    font-size: 5rem;
    font-weight: bold;
    flex-direction: column;
    border-radius: 1rem;
}

.ttt-winning-msg.show {
    display: flex;
    animation: fadeIn linear .4s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#buttons-txt {
    font-size: 3rem;
}

.ttt-buttons {
    margin: 1rem auto;
    display: flex;
    gap: 1rem;
}

.ttt-winning-msg button {
    padding: .5em 2em;
    font-weight: 700;
    background: rgba(24, 40, 59, .75);
    border-radius: 100px;
    margin-bottom: .5em;
}

.combo {
    position: absolute;
    width: var(--board-size);
    height: var(--board-size);
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 1em;
}

.combo.show {
    display: flex;
}

.combo::before {
    content: '';
    position: absolute;
    width: var(--mark-width);
    background-color: rgba(242, 53, 104, .5);
}
.combo.diag1::before,
.combo.diag2::before {
    height: calc(var(--board-size) * 1.5);
    animation: diag-transform .4s;
}

.combo.diag1::before {
    transform: rotate(-45deg);
}

.combo.diag2::before {
    transform: rotate(45deg);
}

@keyframes diag-transform {
    0%      { height: 0; }
    100%    { height: calc(var(--board-size) * 1.5); }
}

.combo.col1::before,
.combo.col2::before,
.combo.col3::before {
    height: var(--board-size);
    animation: col-transform .4s;
}

.combo.col1::before {
    left: calc(var(--cell-size) * .425);
}
.combo.col3::before {
    right: calc(var(--cell-size) * .425);
}

@keyframes col-transform {
    0%      { height: 0; }
    100%    { height: var(--board-size); }
}

.combo.row1::before,
.combo.row2::before,
.combo.row3::before {
    width: var(--board-size);
    height: var(--mark-width);
    animation: row-transform .4s;
}

.combo.row1::before {
    top: calc(var(--cell-size) * .425);
}
.combo.row3::before {
    bottom: calc(var(--cell-size) * .425);
}

@keyframes row-transform {
    0%      { width: 0; }
    100%    { width: var(--board-size); }
}

.stats {
    margin: 2em auto;
    width: 80%;
    max-width: 500px;
    color: white;
    background: #18283b;
    box-shadow: 4px 4px 0 rgba(255,255,255,0.1);
    border-radius: 1rem;
    padding: 1em;
    font-weight: bold;
    text-align: center;
}

.stat-data {
    font-size: 3.5rem;
}

.stat-lbl {
    text-transform: uppercase;
    color: rgba(242, 53, 104, .75);
}

.stat-data:not(:first-child) {
    padding-top: .1em;
}

.stat-lbl:not(:last-child) {
    padding-bottom: 1em;
    border-bottom: 3px solid #101A26;
}

@media (min-width: 900px) {
    .ttt {
        display: flex;
        gap: 1rem;
        justify-content: center;
    }

    .ttt-board {
        margin: 0;
    }

    .stats {
        margin: 0;
        width: 20%;
        max-width: 255px;
        text-align: left;
    }
}