.grid-container {
    border-radius: 1em;
    overflow: hidden;
}

.grid {
    width: 100%;
    max-height: 1200px;
    border-collapse: collapse;
    box-shadow: 4px 4px 0 rgba(255,255,255,0.1);
    background-color: rgba(255,255,255,0.2);
    position: relative;
}

.grid__txt {
    user-select: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    padding: .5em 1em;
    font-weight: 700;
    background: rgba(24, 40, 59, .75);
    border-radius: 1em;
    margin-bottom: .5em;
    display: flex;
    gap: 1em;
}

.close-btn { font-weight: 400 }
.close-btn:hover { opacity: .7 }

.grid td {
    width: 30px;
    height: 30px;
    position: relative;
}

.north { border-top: 3px solid #101A26 }
.south { border-bottom: 3px solid #101A26 }
.east { border-right: 3px solid #101A26 }
.west { border-left: 3px solid #101A26 }

.expansion {
    background: rgba(166, 163, 211, .4);
}
.solution {
    background: rgb(166, 163, 211);
}

.expansion--animated {
    animation: expansionPath .5s;
    background: rgba(166, 163, 211, .4);
}
.solution--animated {
    animation: solutionPath .5s;
    background: rgb(166, 163, 211);
}

@keyframes expansionPath {
    0%      {transform: scale(0);}
    100%    {
                transform: scale(1);
                background: rgba(166, 163, 211, .4);
            }
}

@keyframes solutionPath {
    0%      {
                transform: scale(1);
                background: rgba(166, 163, 211, .4);
            }
    40%     {transform: scale(.75)}
    100%    {
                transform: scale(1);
                background: rgb(166, 163, 211);
            }
}

.icon {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon:hover { opacity: .7 }
.start-icon { background: red }
.goal-icon { background: green }
.start-placeholder { background-color: rgba(128, 0, 0, 0.5) }
.goal-placeholder { background-color: rgba(0, 64, 0, 0.5) }

.alg-stat {
    margin: 1em auto;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
    background: #18283b;
    padding: .5em 1em;
    border-radius: 1em;
    box-shadow: 4px 4px 0 rgba(255,255,255,0.1);
    overflow: hidden;
}

.alg-stat h1 { font-size: 5rem }

.buttons {
    margin: 1em auto;
    border-radius: 100px;
    background: #18283b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.chart {
    position: relative;
    height: 200px;
    width: 200px;
    margin-left: 1em;
}

@media (min-width: 650px) {
    .alg-stat-row {
        display: flex;
        gap: 1rem;
        justify-content: center;
    }

    .alg-stat {
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    .stat {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .chart {
        margin: 0;
    }
}

@media (min-width: 900px) {
    .buttons {
        flex-direction: row;
    }
}

@media (min-width: 1200px) {
    .main-row {
        display: flex;
        gap: 1em;
        align-items: flex-start;
        justify-content: center;
    }

    .alg-stat-row {
        display: block;
    }

    .alg-stat {
        width: 100%;
        height: 28.5vh;
        margin: 0
    }

    .alg-stat + .alg-stat {
        margin-top: 1em
    }
}
